@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --light-gray:hsl(212, 45%, 89%);
    --grayish-blue:hsl(220, 15%, 55%);
    --dark-blue:hsl(218, 44%, 22%);
    --white:hsl(0, 0%, 100%);
}

/* Default Settings Start */

body {
    font-family: 'Outfit', sans-serif;
    background: var(--light-gray);
}

p {
    font-size: 15px;
}

/* Default Settings End */

/* QR code card start */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 152px;
}

section.qr-card {
    width: 320px;
    height: 497px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--white);
    border-radius: 15px;
    gap: 1rem;
}

section.qr-card img {
    width: 288px;
    height: 288px;
    margin-top: .6rem;
    border-radius: 15px;
}

section.qr-card h3 {
    font-size: 22px;
    font-weight: 700;
    padding-left: 2.2rem;
    padding-right: 1rem;
}

section.qr-card p {
    padding-left: 2.2rem;
    padding-right: 2rem;
    text-align: center;
    color: var(--grayish-blue);
}

/* QR code card end */